<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <p>
        Uma solicitação de recuperação de senha foi realizada para sua conta,
        se você não foi o autor, apenas desconsidere esse e-mail.
      </p>

      <p>
        Para continuar com a recuperação de senha digite o código abaixo no app:
      </p>

      <span>{{key}}</span>      
    </div>
  </body>
</html>