<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Importa a estilização de e-mails:-->
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <p>Bem-vindo ao Twitter!</p>

      <p>Seu cadastro está quase pronto, cole o código abaixo para criar sua conta:</p>

      <span>{{key}}</span>      
    </div>
  </body>
</html>